.home-experience {
  margin-top: 10rem;
  min-height: 80rem;
  height: 100%;
  justify-content: center;
  position: relative;

  @include respond(900) {
    // height: 57vh;
  }

  @include respond(600) {
    // height: 40vh;
  }

  &__background {
    z-index: -1;
  }

  &__container {
    flex-direction: column;
    justify-content: flex-start;
  }

  &__heading-container {
    margin-top: 8rem;
    flex-direction: column;
    align-items: center;
  }

  &__heading {
    color: white;
    font-size: 3.5rem;
    font-family: $lato-sans-serif;
    font-weight: 800;

    @include respond(600) {
      font-size: 4.5rem;
    }
  }
}

// .carousel-root {
//   outline: 1px solid red !important;
//   padding: 5rem 0 !important;
//   height: 80rem;
// }

// .carousel .carousel-slider {
//   // padding: 5rem 0 !important;
//   // outline: 1px solid red !important;
//   outline: 1px solid red !important;
//   padding: 5rem 0 !important;
//   height: 80rem;
// }
