.exams-table {
  max-width: 120rem;
  width: 100%;
  margin-top: 5rem;
  flex-direction: column;

  &__table-theader-container {
    width: inherit;
    display: flex;
  }

  &__table-theader {
    flex: 1;
    color: white;
    font-family: $lato-sans-serif;
    font-size: 2rem;
    padding: 1rem 0 1rem 2rem;
  }

  &__below-table-text {
    padding: 3rem 0;
    font-size: 1.8rem;

    a {
      text-decoration: none;
      font-family: $lato-sans-serif;
      color: $main-color;
    }
  }
}
