.about {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__background,
  &__background-2 {
    position: relative;
    height: 55rem;
    z-index: -1;

    background-image: url(/about/background.jpg);
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    background-repeat: no-repeat;
    z-index: -1;
  }

  &__sub-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__heading {
    background: $main-color;
    clip-path: polygon(6% 0, 100% 0, 94% 100%, 0 100%);
    padding: 0 2.5rem;
    margin: -4rem 0 0 0;

    color: #fff;
    font-size: 5rem;
    text-transform: uppercase;
    font-family: Poppins, sans-serif;
  }

  &__content {
    display: flex;
    margin: 10rem 0;
  }

  &__text,
  &__text-left {
    display: flex;
    flex-direction: column;

    width: 60%;
    padding-right: 3rem;

    @include respond(900) {
      padding-right: 0;
    }

    p {
      padding: 0rem 0 3rem 0;
      text-align: justify;

      @include respond(900) {
        padding: 0 2rem;
      }
    }

    p > span {
      color: #000 !important;
      font-size: 2rem;
      font-family: $lato-sans-serif;

      @include respond(900) {
        font-size: 3rem;
      }
    }

    @include respond(900) {
      width: 100%;
    }
  }

  &__text-left {
    padding-right: 0rem;
    padding-left: 3rem;

    @include respond(900) {
      padding-left: 0;
    }
  }

  &__image {
    position: relative;
    width: 40%;

    @include respond(900) {
      display: none;
    }
  }
}
